@font-face {
  font-family: 'RenaultIcon';
  src:  url('fonts/RenaultIcon.eot?hhrp2e');
  src:  url('fonts/RenaultIcon.eot?hhrp2e#iefix') format('embedded-opentype'),
    url('fonts/RenaultIcon.ttf?hhrp2e') format('truetype'),
    url('fonts/RenaultIcon.woff?hhrp2e') format('woff'),
    url('fonts/RenaultIcon.svg?hhrp2e#RenaultIcon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'RenaultIcon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accessories_roof_box:before {
  content: "\e900";
}
.icon-accessories_towing:before {
  content: "\e901";
}
.icon-adas_adaptive_headlights:before {
  content: "\e902";
}
.icon-adas_hill_start:before {
  content: "\e903";
}
.icon-adas_park_assist:before {
  content: "\e904";
}
.icon-adas_top_view:before {
  content: "\e905";
}
.icon-add:before {
  content: "\e906";
}
.icon-air_conditioner:before {
  content: "\e907";
}
.icon-air_filter:before {
  content: "\e908";
}
.icon-air_flow:before {
  content: "\e909";
}
.icon-air_heating:before {
  content: "\e90a";
}
.icon-alarm_bell:before {
  content: "\e90b";
}
.icon-alarm_clock:before {
  content: "\e90c";
}
.icon-alert:before {
  content: "\e90d";
}
.icon-anchor:before {
  content: "\e90e";
}
.icon-announcement:before {
  content: "\e90f";
}
.icon-answer_in_4hours:before {
  content: "\e910";
}
.icon-apps_select:before {
  content: "\e911";
}
.icon-apps_update:before {
  content: "\e912";
}
.icon-apps:before {
  content: "\e913";
}
.icon-arrow_dropdown_close:before {
  content: "\e914";
}
.icon-arrow_dropdown_open:before {
  content: "\e915";
}
.icon-arrow_left_alt:before {
  content: "\e916";
}
.icon-arrow_left:before {
  content: "\e917";
}
.icon-arrow_right_alt:before {
  content: "\e918";
}
.icon-arrow_right:before {
  content: "\e919";
}
.icon-assistance_dealership:before {
  content: "\e91a";
}
.icon-assistance_technical:before {
  content: "\e91b";
}
.icon-assistance:before {
  content: "\e91c";
}
.icon-attachment:before {
  content: "\e91d";
}
.icon-balance:before {
  content: "\e91e";
}
.icon-battery_empty:before {
  content: "\e91f";
}
.icon-battery_full:before {
  content: "\e920";
}
.icon-battery_half:before {
  content: "\e921";
}
.icon-battery_high:before {
  content: "\e922";
}
.icon-battery_ko:before {
  content: "\e923";
}
.icon-battery_leasing:before {
  content: "\e924";
}
.icon-battery_low:before {
  content: "\e925";
}
.icon-battery_pack:before {
  content: "\e926";
}
.icon-bolt:before {
  content: "\e927";
}
.icon-bookmark_favourite:before {
  content: "\e928";
}
.icon-bookmark:before {
  content: "\e929";
}
.icon-box:before {
  content: "\e92a";
}
.icon-brain:before {
  content: "\e92b";
}
.icon-braking:before {
  content: "\e92c";
}
.icon-brightness:before {
  content: "\e92d";
}
.icon-bug:before {
  content: "\e92e";
}
.icon-bulle-info:before {
  content: "\e92f";
}
.icon-bycicle:before {
  content: "\e930";
}
.icon-calculator:before {
  content: "\e931";
}
.icon-calendar_schedule:before {
  content: "\e932";
}
.icon-calendar:before {
  content: "\e933";
}
.icon-camera:before {
  content: "\e934";
}
.icon-cancel:before {
  content: "\e935";
}
.icon-car_body:before {
  content: "\e936";
}
.icon-car_camera:before {
  content: "\e937";
}
.icon-car_coupe:before {
  content: "\e938";
}
.icon-car_crash:before {
  content: "\e939";
}
.icon-car_data_ko:before {
  content: "\e93a";
}
.icon-car_data_ok:before {
  content: "\e93b";
}
.icon-car_data_receive:before {
  content: "\e93c";
}
.icon-car_data_send:before {
  content: "\e93d";
}
.icon-car_dealership:before {
  content: "\e93e";
}
.icon-car_delivery:before {
  content: "\e93f";
}
.icon-car_hatchback:before {
  content: "\e940";
}
.icon-car_information:before {
  content: "\e941";
}
.icon-car_interior:before {
  content: "\e942";
}
.icon-car_mpv:before {
  content: "\e943";
}
.icon-car_pick-up:before {
  content: "\e944";
}
.icon-car_rental:before {
  content: "\e945";
}
.icon-car_roadster:before {
  content: "\e946";
}
.icon-car_sedan:before {
  content: "\e947";
}
.icon-car_services:before {
  content: "\e948";
}
.icon-car_settings:before {
  content: "\e949";
}
.icon-car_sound:before {
  content: "\e94a";
}
.icon-car_suv_coupe:before {
  content: "\e94b";
}
.icon-car_suv:before {
  content: "\e94c";
}
.icon-car:before {
  content: "\e94d";
}
.icon-charging_point_fast:before {
  content: "\e94e";
}
.icon-charging_point_wallbox:before {
  content: "\e94f";
}
.icon-charging_point:before {
  content: "\e950";
}
.icon-check:before {
  content: "\e951";
}
.icon-chevron_down:before {
  content: "\e952";
}
.icon-chevron_left:before {
  content: "\e953";
}
.icon-chevron_right:before {
  content: "\e954";
}
.icon-chevron_up:before {
  content: "\e955";
}
.icon-cloud_download:before {
  content: "\e956";
}
.icon-cloud_error:before {
  content: "\e957";
}
.icon-cloud_ok:before {
  content: "\e958";
}
.icon-cloud_sync:before {
  content: "\e959";
}
.icon-cloud_upload:before {
  content: "\e95a";
}
.icon-coin_cashback:before {
  content: "\e95b";
}
.icon-coins:before {
  content: "\e95c";
}
.icon-compass:before {
  content: "\e95d";
}
.icon-config_360:before {
  content: "\e95e";
}
.icon-config_back:before {
  content: "\e95f";
}
.icon-config_custom:before {
  content: "\e960";
}
.icon-config_favourite:before {
  content: "\e961";
}
.icon-config_refresh:before {
  content: "\e962";
}
.icon-config_update:before {
  content: "\e963";
}
.icon-connect_antenna:before {
  content: "\e964";
}
.icon-connect_aux_plug:before {
  content: "\e965";
}
.icon-connect_bluetooth:before {
  content: "\e966";
}
.icon-connect_satellite:before {
  content: "\e967";
}
.icon-connect_usb_plug:before {
  content: "\e968";
}
.icon-connect_usb:before {
  content: "\e969";
}
.icon-connect_wifi:before {
  content: "\e96a";
}
.icon-cooling_liquid:before {
  content: "\e96b";
}
.icon-damper:before {
  content: "\e96c";
}
.icon-data_chart:before {
  content: "\e96d";
}
.icon-data_eco:before {
  content: "\e96e";
}
.icon-data_energy:before {
  content: "\e96f";
}
.icon-data_graph:before {
  content: "\e970";
}
.icon-decline:before {
  content: "\e971";
}
.icon-delete:before {
  content: "\e972";
}
.icon-desktop:before {
  content: "\e973";
}
.icon-door:before {
  content: "\e974";
}
.icon-download:before {
  content: "\e975";
}
.icon-drive_off-road:before {
  content: "\e976";
}
.icon-eco_navigation:before {
  content: "\e977";
}
.icon-edit:before {
  content: "\e978";
}
.icon-electric_plug_error:before {
  content: "\e979";
}
.icon-electric_plug_ok:before {
  content: "\e97a";
}
.icon-electric_plug:before {
  content: "\e97b";
}
.icon-enegine_hybrid:before {
  content: "\e97c";
}
.icon-engine_electric:before {
  content: "\e97d";
}
.icon-engine_fuel:before {
  content: "\e97e";
}
.icon-engine_hydrogen:before {
  content: "\e97f";
}
.icon-engine:before {
  content: "\e980";
}
.icon-erase:before {
  content: "\e981";
}
.icon-exhaust:before {
  content: "\e982";
}
.icon-fabric:before {
  content: "\e983";
}
.icon-factory:before {
  content: "\e984";
}
.icon-favourite:before {
  content: "\e985";
}
.icon-file_car:before {
  content: "\e986";
}
.icon-file_directory:before {
  content: "\e987";
}
.icon-file_download:before {
  content: "\e988";
}
.icon-file_email:before {
  content: "\e989";
}
.icon-file_favorite:before {
  content: "\e98a";
}
.icon-file_folder:before {
  content: "\e98b";
}
.icon-file_html:before {
  content: "\e98c";
}
.icon-file_mechanics:before {
  content: "\e98d";
}
.icon-file_pdf:before {
  content: "\e98e";
}
.icon-file_reload:before {
  content: "\e98f";
}
.icon-file:before {
  content: "\e990";
}
.icon-filter_2:before {
  content: "\e991";
}
.icon-filter:before {
  content: "\e992";
}
.icon-first_aid_kit:before {
  content: "\e993";
}
.icon-flag_delete:before {
  content: "\e994";
}
.icon-flag_destination:before {
  content: "\e995";
}
.icon-flag_favourite:before {
  content: "\e996";
}
.icon-flag_recent:before {
  content: "\e997";
}
.icon-flag:before {
  content: "\e998";
}
.icon-foundry:before {
  content: "\e999";
}
.icon-frame:before {
  content: "\e99a";
}
.icon-front_car_alpine:before {
  content: "\e99b";
}
.icon-front_car_dacia:before {
  content: "\e99c";
}
.icon-front_car_lada:before {
  content: "\e99d";
}
.icon-front_car_renault:before {
  content: "\e99e";
}
.icon-front_car_rsm:before {
  content: "\e99f";
}
.icon-front_car_taxi:before {
  content: "\e9a0";
}
.icon-front_car:before {
  content: "\e9a1";
}
.icon-fuel_empty:before {
  content: "\e9a2";
}
.icon-fuel_full:before {
  content: "\e9a3";
}
.icon-fuel_half:before {
  content: "\e9a4";
}
.icon-fuel_high:before {
  content: "\e9a5";
}
.icon-fuel_ko:before {
  content: "\e9a6";
}
.icon-fuel_low:before {
  content: "\e9a7";
}
.icon-fuel_station:before {
  content: "\e9a8";
}
.icon-garage_check-up:before {
  content: "\e9a9";
}
.icon-garage_oil_check:before {
  content: "\e9aa";
}
.icon-gearbox_automatic_grid:before {
  content: "\e9ab";
}
.icon-gearbox_automatic_handle:before {
  content: "\e9ac";
}
.icon-gearbox_manual_grid:before {
  content: "\e9ad";
}
.icon-gearbox_manual_handle:before {
  content: "\e9ae";
}
.icon-gift:before {
  content: "\e9af";
}
.icon-glasses:before {
  content: "\e9b0";
}
.icon-gvarage_elevator:before {
  content: "\e9b1";
}
.icon-headlights_dimmed:before {
  content: "\e9b2";
}
.icon-headlights_front_fog:before {
  content: "\e9b3";
}
.icon-headlights_off:before {
  content: "\e9b4";
}
.icon-headlights:before {
  content: "\e9b5";
}
.icon-help:before {
  content: "\e9b6";
}
.icon-hide:before {
  content: "\e9b7";
}
.icon-home_edit:before {
  content: "\e9b8";
}
.icon-home:before {
  content: "\e9b9";
}
.icon-idea:before {
  content: "\e9ba";
}
.icon-key:before {
  content: "\e9bb";
}
.icon-keyboard:before {
  content: "\e9bc";
}
.icon-language:before {
  content: "\e9bd";
}
.icon-laptop:before {
  content: "\e9be";
}
.icon-leather:before {
  content: "\e9bf";
}
.icon-less:before {
  content: "\e9c0";
}
.icon-link_out:before {
  content: "\e9c1";
}
.icon-link:before {
  content: "\e9c2";
}
.icon-list_bulleted:before {
  content: "\e9c3";
}
.icon-list_check:before {
  content: "\e9c4";
}
.icon-lock:before {
  content: "\e9c5";
}
.icon-logout:before {
  content: "\e9c6";
}
.icon-love:before {
  content: "\e9c7";
}
.icon-loved:before {
  content: "\e9c8";
}
.icon-luggage:before {
  content: "\e9c9";
}
.icon-magnetic:before {
  content: "\e9ca";
}
.icon-mail:before {
  content: "\e9cb";
}
.icon-map_location:before {
  content: "\e9cc";
}
.icon-map_refresh:before {
  content: "\e9cd";
}
.icon-map:before {
  content: "\e9ce";
}
.icon-measure:before {
  content: "\e9cf";
}
.icon-mechanic:before {
  content: "\e9d0";
}
.icon-medecine:before {
  content: "\e9d1";
}
.icon-media_next:before {
  content: "\e9d2";
}
.icon-media_pause:before {
  content: "\e9d3";
}
.icon-media_play:before {
  content: "\e9d4";
}
.icon-media_player:before {
  content: "\e9d5";
}
.icon-media_previous:before {
  content: "\e9d6";
}
.icon-media_stop:before {
  content: "\e9d7";
}
.icon-menu:before {
  content: "\e9d8";
}
.icon-microphone:before {
  content: "\e9d9";
}
.icon-mobile:before {
  content: "\e9da";
}
.icon-mobility:before {
  content: "\e9db";
}
.icon-money_euro:before {
  content: "\e9dc";
}
.icon-money:before {
  content: "\e9dd";
}
.icon-more:before {
  content: "\e9de";
}
.icon-music_album:before {
  content: "\e9df";
}
.icon-music:before {
  content: "\e9e0";
}
.icon-navigation_settings:before {
  content: "\e9e1";
}
.icon-navigation:before {
  content: "\e9e2";
}
.icon-new_downsize:before {
  content: "\e9e3";
}
.icon-new_upsize:before {
  content: "\e9e4";
}
.icon-new:before {
  content: "\e9e5";
}
.icon-observe:before {
  content: "\e9e6";
}
.icon-office:before {
  content: "\e9e7";
}
.icon-oil_check:before {
  content: "\e9e8";
}
.icon-oil_filter:before {
  content: "\e9e9";
}
.icon-organisation:before {
  content: "\e9ea";
}
.icon-owner:before {
  content: "\e9eb";
}
.icon-paint_bucket:before {
  content: "\e9ec";
}
.icon-paint_colors:before {
  content: "\e9ed";
}
.icon-paint_sample:before {
  content: "\e9ee";
}
.icon-paint_spray_gun:before {
  content: "\e9ef";
}
.icon-paint_spray:before {
  content: "\e9f0";
}
.icon-parameters:before {
  content: "\e9f1";
}
.icon-passenger:before {
  content: "\e9f2";
}
.icon-pedestrian:before {
  content: "\e9f3";
}
.icon-phone:before {
  content: "\e9f4";
}
.icon-picture:before {
  content: "\e9f5";
}
.icon-pictures:before {
  content: "\e9f6";
}
.icon-pin_trajectory:before {
  content: "\e9f7";
}
.icon-pin:before {
  content: "\e9f8";
}
.icon-piston_double:before {
  content: "\e9f9";
}
.icon-piston:before {
  content: "\e9fa";
}
.icon-planet_location:before {
  content: "\e9fb";
}
.icon-planet:before {
  content: "\e9fc";
}
.icon-podcast:before {
  content: "\e9fd";
}
.icon-poi_hospital:before {
  content: "\e9fe";
}
.icon-poi_hotel:before {
  content: "\e9ff";
}
.icon-poi_parking:before {
  content: "\ea00";
}
.icon-poi_restaurant:before {
  content: "\ea01";
}
.icon-power_electric:before {
  content: "\ea02";
}
.icon-power_hybrid:before {
  content: "\ea03";
}
.icon-power_plug-in_hybrid:before {
  content: "\ea04";
}
.icon-power:before {
  content: "\ea05";
}
.icon-presentation:before {
  content: "\ea06";
}
.icon-print:before {
  content: "\ea07";
}
.icon-processor:before {
  content: "\ea08";
}
.icon-promo:before {
  content: "\ea09";
}
.icon-race_car:before {
  content: "\ea0a";
}
.icon-race_e-sport:before {
  content: "\ea0b";
}
.icon-race_helmet:before {
  content: "\ea0c";
}
.icon-race_trophy:before {
  content: "\ea0d";
}
.icon-radio_am:before {
  content: "\ea0e";
}
.icon-radio_dab:before {
  content: "\ea0f";
}
.icon-radio_dr:before {
  content: "\ea10";
}
.icon-radio_drm:before {
  content: "\ea11";
}
.icon-radio_fm:before {
  content: "\ea12";
}
.icon-radio:before {
  content: "\ea13";
}
.icon-refresh:before {
  content: "\ea14";
}
.icon-restricted:before {
  content: "\ea15";
}
.icon-road_city:before {
  content: "\ea16";
}
.icon-road_countryside:before {
  content: "\ea17";
}
.icon-road_motorway:before {
  content: "\ea18";
}
.icon-road_sign:before {
  content: "\ea19";
}
.icon-road:before {
  content: "\ea1a";
}
.icon-roadblock:before {
  content: "\ea1b";
}
.icon-rotate_left:before {
  content: "\ea1c";
}
.icon-rotate_right:before {
  content: "\ea1d";
}
.icon-route_diversion:before {
  content: "\ea1e";
}
.icon-route_map:before {
  content: "\ea1f";
}
.icon-route_story:before {
  content: "\ea20";
}
.icon-safety:before {
  content: "\ea21";
}
.icon-sales:before {
  content: "\ea22";
}
.icon-save:before {
  content: "\ea23";
}
.icon-savings:before {
  content: "\ea24";
}
.icon-scan_face:before {
  content: "\ea25";
}
.icon-scan_finger:before {
  content: "\ea26";
}
.icon-scan_qr:before {
  content: "\ea27";
}
.icon-screen_minimize:before {
  content: "\ea28";
}
.icon-scroll:before {
  content: "\ea29";
}
.icon-search:before {
  content: "\ea2a";
}
.icon-seat_booster:before {
  content: "\ea2b";
}
.icon-seat_heating:before {
  content: "\ea2c";
}
.icon-seat:before {
  content: "\ea2d";
}
.icon-select:before {
  content: "\ea2e";
}
.icon-share:before {
  content: "\ea2f";
}
.icon-sheet_list:before {
  content: "\ea30";
}
.icon-sheet_validated_list:before {
  content: "\ea31";
}
.icon-sheet_warranty:before {
  content: "\ea32";
}
.icon-sheet:before {
  content: "\ea33";
}
.icon-shop_bag_alert:before {
  content: "\ea34";
}
.icon-shop_bag_favorite:before {
  content: "\ea35";
}
.icon-shop_bag:before {
  content: "\ea36";
}
.icon-siren:before {
  content: "\ea37";
}
.icon-slide:before {
  content: "\ea38";
}
.icon-smart_card:before {
  content: "\ea39";
}
.icon-smiley_amazing:before {
  content: "\ea3a";
}
.icon-smiley_angry:before {
  content: "\ea3b";
}
.icon-smiley_cool:before {
  content: "\ea3c";
}
.icon-smiley_happy:before {
  content: "\ea3d";
}
.icon-smiley_not_happy:before {
  content: "\ea3e";
}
.icon-smiley_surprised:before {
  content: "\ea3f";
}
.icon-smiley_tired:before {
  content: "\ea40";
}
.icon-smiley_undecided:before {
  content: "\ea41";
}
.icon-spare_parts:before {
  content: "\ea42";
}
.icon-speaker_dialog:before {
  content: "\ea43";
}
.icon-speaker_learning:before {
  content: "\ea44";
}
.icon-special:before {
  content: "\ea45";
}
.icon-speech_chat:before {
  content: "\ea46";
}
.icon-speech_comment:before {
  content: "\ea47";
}
.icon-speech_comments:before {
  content: "\ea48";
}
.icon-speech_feedback:before {
  content: "\ea49";
}
.icon-speech_forum:before {
  content: "\ea4a";
}
.icon-speech_information:before {
  content: "\ea4b";
}
.icon-speech_question:before {
  content: "\ea4c";
}
.icon-speedometer:before {
  content: "\ea4d";
}
.icon-steering_wheel:before {
  content: "\ea4e";
}
.icon-sticker:before {
  content: "\ea4f";
}
.icon-stopwatch:before {
  content: "\ea50";
}
.icon-sustainable:before {
  content: "\ea51";
}
.icon-tablet:before {
  content: "\ea52";
}
.icon-tailored:before {
  content: "\ea53";
}
.icon-target:before {
  content: "\ea54";
}
.icon-television:before {
  content: "\ea55";
}
.icon-text_decrease:before {
  content: "\ea56";
}
.icon-text_increase:before {
  content: "\ea57";
}
.icon-thumbs_down:before {
  content: "\ea58";
}
.icon-thumbs_up:before {
  content: "\ea59";
}
.icon-timer:before {
  content: "\ea5a";
}
.icon-timing_belt:before {
  content: "\ea5b";
}
.icon-traffic_cone:before {
  content: "\ea5c";
}
.icon-traffic_jam:before {
  content: "\ea5d";
}
.icon-train:before {
  content: "\ea5e";
}
.icon-translate:before {
  content: "\ea5f";
}
.icon-tune:before {
  content: "\ea60";
}
.icon-unlock:before {
  content: "\ea61";
}
.icon-upload:before {
  content: "\ea62";
}
.icon-user_discussion:before {
  content: "\ea63";
}
.icon-user_interaction:before {
  content: "\ea64";
}
.icon-user:before {
  content: "\ea65";
}
.icon-van_cdv:before {
  content: "\ea66";
}
.icon-van_chassis_cab:before {
  content: "\ea67";
}
.icon-van_compact:before {
  content: "\ea68";
}
.icon-van_dump_truck:before {
  content: "\ea69";
}
.icon-van_passenger_cdv:before {
  content: "\ea6a";
}
.icon-view_360:before {
  content: "\ea6b";
}
.icon-virus:before {
  content: "\ea6c";
}
.icon-volume_down:before {
  content: "\ea6d";
}
.icon-volume_mute:before {
  content: "\ea6e";
}
.icon-volume_up:before {
  content: "\ea6f";
}
.icon-warehouse:before {
  content: "\ea70";
}
.icon-warranty:before {
  content: "\ea71";
}
.icon-weather_clouds:before {
  content: "\ea72";
}
.icon-weather_partly_cloudy:before {
  content: "\ea73";
}
.icon-weather_partly_raining:before {
  content: "\ea74";
}
.icon-weather_rain_light_1:before {
  content: "\ea75";
}
.icon-weather_rain_light:before {
  content: "\ea76";
}
.icon-weather_rain:before {
  content: "\ea77";
}
.icon-weather_snow_flake:before {
  content: "\ea78";
}
.icon-weather_storm:before {
  content: "\ea79";
}
.icon-weather_sun:before {
  content: "\ea7a";
}
.icon-weight:before {
  content: "\ea7b";
}
.icon-welcome:before {
  content: "\ea7c";
}
.icon-wheel_check:before {
  content: "\ea7d";
}
.icon-wheel_rim:before {
  content: "\ea7e";
}
.icon-wheel_tyre_pump:before {
  content: "\ea7f";
}
.icon-wheel:before {
  content: "\ea80";
}
.icon-winscreeen_wipers_ok:before {
  content: "\ea81";
}
.icon-winscreeen_wipers:before {
  content: "\ea82";
}
.icon-winscreeen:before {
  content: "\ea83";
}
.icon-zoom_in:before {
  content: "\ea84";
}
.icon-zoom_out:before {
  content: "\ea85";
}
